*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins' , sans-serif;
    box-sizing: border-box ;
}
body {
  height: 100%;
 }

body {
  
  background-image: url("pexele-pixabay-258173.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.card {
    background:linear-gradient(135deg, #00feba,#5b54ba);
    color: #fff;;
    padding: 40px 35px;
    border-radius: 20px;
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    text-align: center;
  }
  .search{
    align-items: center;
    justify-content:space-between;
    width: 100%;
    display: flex;
  }
  .search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height:60px ;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
  }
  .search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    height:60px ;
    width: 60px;
    cursor: pointer;
  }
  .wheather-icon{
    width:170px;
    }
    .cloudy{
      width:170px;
      }
      .details{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px ;
        margin:auto;
        margin-top:50px;
      }
p{
  font-size: 25px;
}
h1{
  font-size: 80px;
}
h2{
  font-size: 40px;
}
.wheather{
  display: none;
}
.error{
  text-align: left;
  margin-left: 10px ;
  font-size: 14px;
  margin-top: 10px;
  display:none;
}
